
@model IEnumerable<MVCTuts.Models.Department>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>I am Employee Controller Default method</h1>
       <ul>
           @foreach(var dept in Model)
           {
               <li>@Html.ActionLink(dept.DeptName,"GetEmployees",new{id=dept.Id})</li>
           }
       </ul>


        
    </div>
</body>
</html>
